
:root {
  --color-primary: #34c94b;
  --color-white: #ffffff;
  --color-black: #121212;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,body {
  height: 100%;
}


body {
  background-color: var(--color-black); 
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  /* overflow-x: hidden; */
  -webkit-font-smoothing:antialiased;
}


/* 
overwrite the default css of the swiper-slide provided by swiper
by default -> width: 100%;
 */
.swiper-slide{
  width: auto !important;
}

img,picture,video,canvas,svg{
  display: block;
  max-width: 100%;
}

input,button,select,textarea{
  font:inherit;
}

p,h1,h2,h3,h4,h5,h6{
  overflow-wrap: break-word;
}

#root,
#__next{
  isolation: isolate;
}

a,a:hover,a:focus,a:active{
  text-decoration: none;
  color: inherit;
}
